*{
    padding: 5px;
    margin: 0;
}
.principal{
    width: 375px;
    height: 835px;
    left: 19px;
    background-color: #f5f7fb;
    font-family: sans-serif;
}
p{
font-family: sans-serif;
font-size: 12px;
letter-spacing: 0em;
text-align: left;
color: #393939;


}
h1{
    color:  #26367C;
    text-transform: capitalize;
}
h2{
font-family: sans-serif;
font-size: 22px;
font-weight: 600;
line-height: 33px;
letter-spacing: 0em;
text-align: left;
color: #393939;
}
h3{
    font-family: sans-serif;
font-size: 14px;
font-weight: 600;
line-height: 21px;
letter-spacing: 0em;
color: #393939;
}
